.form-container {
    display: flex;
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    height: 60px;
}

.form-container form {
    display: inherit;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container button {
    height: 25px;
    width: 125px;
    padding: 0;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #FFFFFF;
}

.form-container select {
    height: 25px;
    width: 125px;
    padding: 0;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    margin-left: 8px;
    background-color: #FFFFFF;
}

.form-container input {
    height: 25px;
    width: 400px;
    border: none;
    border-radius: 5px;
    padding: 0;
    padding-right: 1px;
    padding-left: 4px;
}

#equipment-search-results {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#equipment-search-results h3{
    font-size: 12pt;
    margin: 0px;
}

.armor-card {
    display: flex;
    height: 200px;
    width: 200px;
    background-color: #30302e;
    margin: 10px;
}

.info-container {
    display: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 0px;
}